
  
{% macro display_sources_list(sources_result_list) %}
<div class="row">

    {% for source in sources_result_list %}

    <div class="col-md-4 " style="background-color: antiquewhite;  height: 400px; ;">

        <h3 style="color:blue; ">
            <li>{{source.name}}</li>
        </h3>
        <li style="font-size:18px; list-style: none;"> <strong>ABOUT SOURCE:</strong> {{source.description}}</li>
        <li style=" font-size:18px;list-style: none;"><strong>COUNTRY:</strong> {{source.country}}</li>
        <a href="">
            <li style="font-size:18px; list-style: none;"><strong>OFFICIAL SITE:</strong> {{source.url}}</li>
        </a>
        <a href="/newsSource/{{source.id}}" class="btn btn-primary" style="font: size 24px;">See
            {{source.name}} news articles</a>

    </div>
    
    {% endfor %}

</div>
{% endmacro %}


<!-- {% macro display_article_list() %}
<div class="row">

    

</div>
{% endmacro %} -->